<html>
<head><title></title>
 {% load static %} 
 <script defer type="text/javascript" src='{% static "myapp/frontend.js" %}'>
  </script>
</head>
<body>
<h3>Модель: </h3>
<form name="form" method="GET" action="vehicle_list">
<select name="filter">
<option value="all">Все</option>
{% for tippermodel in tippermodels %}
<option  value="{{tippermodel.model_name}}">{{tippermodel.model_name}}</option>
{% endfor %}
</select>
<input type="submit" value="Применить">
</form>

<table name="table" border="2px">
<tr>
<td>Бортовой номер</td>
<td>Модель</td>
<td>Максимальная грузоподъёмность</td>
<td>Текущий вес</td>
<td>Перегруз,%</td>
</tr>

{% for vehicle in filtered %}
        <tr>
           <td>{{vehicle.number}}</td> 
            <td>{{vehicle.model.model_name}}</td> 
			<td class="maxweight">{{vehicle.model.max_weight}}</td> 
            <td class="currentweight">{{vehicle.current_weight}}</td> 
			<td class="overweight"></td>
			
        </tr>
{% endfor %}



  </table>
</body>
</html>